In [1]:
import pandas as pd

print(pd.__version__)

0.25.1

In [2]:
import pandas as pd 
import numpy as np 
  
arr = np.array(['A','B','C','D','E','F', 
                'G','H','I','J','K']) 
  
s = pd.Series(arr) 
print(s)

0     A
1     B
2     C
3     D
4     E
5     F
6     G
7     H
8     I
9     J
10    K
dtype: object

In [4]:

import pandas as pd 
  
s = pd.Series(['C', 'C++', 'Java',  
               'Python', 'Perl', 'Ruby'
               ]) 
df = s.to_frame().reset_index() 
df.rename(columns = {'index':'new_index'}, 
          inplace = True) 
df

   new_index       0
0          0       C
1          1     C++
2          2    Java
3          3  Python
4          4    Perl
5          5    Ruby

In [5]:
import seaborn as sns

sns.get_dataset_names()

D:\anaconda\lib\site-packages\seaborn\utils.py:376: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 376 of the file D:\anaconda\lib\site-packages\seaborn\utils.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  gh_list = BeautifulSoup(http)

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'tips',
 'titanic']

In [6]:
dataset_mpg = sns.load_dataset('mpg')
dataset_mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [7]:
print(dataset_mpg['origin'].unique())

['usa' 'japan' 'europe']

In [8]:
df1=dataset_mpg[dataset_mpg['origin'].str.contains("usa")]
print(df1.head())

    mpg  cylinders  displacement  horsepower  weight  acceleration  \
0  18.0          8         307.0       130.0    3504          12.0
1  15.0          8         350.0       165.0    3693          11.5
2  18.0          8         318.0       150.0    3436          11.0
3  16.0          8         304.0       150.0    3433          12.0
4  17.0          8         302.0       140.0    3449          10.5

   model_year origin                       name
0          70    usa  chevrolet chevelle malibu
1          70    usa          buick skylark 320
2          70    usa         plymouth satellite
3          70    usa              amc rebel sst
4          70    usa                ford torino